<section style="background-color: blueviolet; height: auto; min-height: 60vh">
  <div class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-6 col-md-6 col-sm-6 mb-10p" style="margin-top: 20vh">
          <h1 class="smoky-white-txt">
            <strong>Frontend Developer</strong>
          </h1>
          <h3 class="smoky-white-txt mt-5p">
            <p>I am Vikram, a JavaScript developer. I materialize row thoughts to fully functional Frontend applications.</p>
            <p>My sward has blended with Angular, React and NextJS.</p>
          </h3>

          <div class="mt-10p" style="display: flex; justify-content: space-between; flex-wrap: wrap">
            <div>
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
              <div class="smoky-white-txt text-center extra-letter-space">ANGULAR</div>
            </div>

            <div>
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
              <div class="smoky-white-txt text-center extra-letter-space">RxJS</div>
            </div>

            <div>
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
              <div class="smoky-white-txt text-center extra-letter-space">NgRx</div>
            </div>

            <div>
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
              <div class="smoky-white-txt text-center extra-letter-space">Firebase</div>
            </div>
          </div>

          <div class="mt-5p" style="display: flex; justify-content: space-between; flex-wrap: wrap">
            <div>
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
              <div class="smoky-white-txt text-center extra-letter-space">JavaScript</div>
            </div>

            <div>
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
              <div class="smoky-white-txt text-center extra-letter-space">TypeScript</div>
            </div>

            <div>
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
              </div>
              <div class="smoky-white-txt text-center extra-letter-space">OOPs</div>
            </div>

            <div>
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
              <div class="smoky-white-txt text-center extra-letter-space">NodeJs</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6 col-md-6 col-sm-6 mb-10p text-center mt-20p" style="margin-top: 20vh; display: flex; flex-direction: column">
          <div>
            <img src="assets/images/professional_dp_vikram.jpg" alt="" class="profile-picture" />
          </div>
          <div class="mt-2p">
            <h3 class="smoky-white-txt">Vikram Kumar</h3>
          </div>
          <div style="display: flex; justify-content: center">
            <div class="m-4p">
              <a href="https://www.linkedin.com/in/vikram-kumar-3b6b96aa/" target="_blank">
                <img src="assets/images/linkedin_icon.svg" alt="" class="external-link-icon" />
              </a>
            </div>
            <div class="m-4p">
              <a href="https://github.com/vkbiotech841" target="_blank">
                <img src="assets/images/github_icon.svg" alt="" class="external-link-icon" />
              </a>
            </div>
            <div class="m-4p">
              <a href="https://stackoverflow.com/users/14188542/vikram-kumar" target="_blank">
                <img src="assets/images/stackoverflow_icon.svg" alt="" class="external-link-icon" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="container-fluid">
    <div class="row mt-3p text-center">
      <h1>Top Skills</h1>
    </div>
    <div class="row mt-3p">
      <div class="col-12 col-lg-12 col-md-6 col-sm-6" style="display: flex; justify-content: space-between; flex-flow: wrap">
        <div class="m-2p">
          <img src="assets/images/html_icon.png" alt="" class="skill-icon" />
        </div>
        <div class="m-2p">
          <img src="assets/images/css_icon.png" alt="" class="skill-icon" />
        </div>
        <div class="m-2p">
          <img src="assets/images/javascript_icon.jpeg" alt="" class="skill-icon" />
        </div>
        <div class="m-2p">
          <img src="assets/images/typescript_icon.png" alt="" class="skill-icon" />
        </div>
        <div class="m-2p">
          <img src="assets/images/angular_icon.png" alt="" class="skill-icon" />
        </div>
        <div class="m-2p">
          <img src="assets/images/react_icon.png" alt="" class="skill-icon" />
        </div>
        <div class="m-2p">
          <img src="assets/images/nextjs_icon.png" alt="" class="skill-icon" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="container-fluid">
    <div class="row mt-3p text-center">
      <h1>Projects</h1>
    </div>
  </div>
</div>
