<app-header></app-header>
<section style="background-color: blueviolet; height: auto; min-height: 60vh;">
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 col-md-6 col-sm-6 mb-10p" style="margin-top:20vh">
                    <h2 class="smoky-white-txt">
                        <p>
                            I am Vikram, a JavaScript developer. I materialize row thoughts to fully functional Frontend
                            applications.
                        </p>
                        <p> My sward has blended with Angular, React and NextJS.</p>
                    </h2>

                </div>
                <div class="col-12 col-lg-6 col-md-6 col-sm-6 mb-10p text-center mt-20p" style="margin-top:20vh">
                    <img src="assets/images/professional_dp_vikram.jpg" alt="" class="profile-picture">
                </div>
            </div>

        </div>
    </div>

</section>

<div class="container">
    <div class="container-fluid">
        <div class="row mt-3p text-center">
            <h1>Top Skills</h1>
        </div>
        <div class="row mt-3p">
            <div class="col-12 col-lg-12 col-md-6 col-sm-6" style="display: flex; justify-content: space-between;">
                <div>
                    <img src="assets/images/html_icon.png" alt="" class="w-8rem">
                </div>
                <div>
                    <img src="assets/images/css_icon.png" alt="" class="w-8rem">
                </div>
                <div>
                    <img src="assets/images/javascript_icon.jpeg" alt="" class="w-8rem">
                </div>
                <div>
                    <img src="assets/images/typescript_icon.png" alt="" class="w-8rem">
                </div>
                <div>
                    <img src="assets/images/angular_icon.png" alt="" class="w-8rem">
                </div>
                <div>
                    <img src="assets/images/react_icon.png" alt="" class="w-8rem">
                </div>
                <div>
                    <img src="assets/images/nextjs_icon.png" alt="" class="w-8rem">
                </div>

            </div>
        </div>
    </div>
</div>